html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
}

/* this is the GRID control section */

.app {
  display: grid;
  /* all contents to fill the height of the screen*/
  min-height: 100vh;
  grid-template-columns: repeat(2, 1fr) auto;
  /* allow rows to stick to header and top controls contents
     and rest to fot the screen*/
  grid-auto-rows: max-content max-content 1fr;
  grid-template-areas:
    "header header header"
    "top-controls top-controls top-controls"
    "view3d view3d edit-controls";
}

.app > div {
  padding: 5px;
  border-width: 1px;
  border-style: solid;
}

/* Small screen control - changing grid laout to vertical */
@media only screen and (max-width: 640px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "top-controls"
      "edit-controls"
      "view3d";
  }
  /* Search box */
  .search-3d { 
    font-size: 12px;
    background-size: 25px 25px;
  }
  /* Button for case displaying */
  .displayCaseButton {
    max-height: 100px;
    max-width: 66px;
  }
  /* Preview image of the display case */
  .displayCaseImage {
    max-height: 55px;
    max-width: 40px;
  }
  /* Flip case display card */
  .card {
    height: 100px;
    width: 66px;
  }
  /* Front face of the card */
  .card-front,
  .card-back {
    height: 100px;
    width: 66px;
  }
  /* The back of the card when being pointed at by the mouse */
  .card-back {
    font-size: 11px;
  }
  /* Webpage header */
  .header {
    display: flex;
    background: black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo nav-links menu-division";
    grid-column: 1/3;
    align-items: center;
    grid-area: header;
  }
  /* Division elements of options menu */
  .menu-division {
    width: 100%;
    float: right;
    border-radius: 10px;
    grid-area: menu-division;
    vertical-align: center;
  }
  /* Navigation link apperance */
  .nav-links {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
  /* Options apperance on the main menu */
  .menu-button {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
    background-color: #bdc3c7;
    background-size: 30px auto;
    background-position: center center;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease;
  }
  /* This function is to change the coler of button when the mouse is hover above the button */
  .menu-button:hover {
    background-color: rgb(146, 152, 156);
  }
  /* Color changes when the button is clicked */
  .menu-button:active {
    background-color: rgb(107, 110, 112);
  }
  /* Menu color and design */
  .menu {
    align-self: center;
    background-color: #bdc3c7;
    border-radius: 10px;
    align-items: center;
    margin: 10px;
  }

  /* Design of the items appear on the main menu */
  .menuItem {
    width: 97%;
    height: 30px;
    border: none;
    margin: 2px;
    border-radius: 10px;
    background-color: #bdc3c7;
    font-size: 12px;
    transition: 0.5s ease;
  }

  /* The items on the main menu get color changed when the pointer is hover above it */
  .menuItem:hover {
    color: #008cba;
  }
  /* The items on the main menu get color changed when the pointer click on it */
  .menuItem:active {
    color: rgb(0, 102, 136);
  }
  /* Inkerz logo apperance */
  .logoImage {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  /* Menu logo apperance */
  .menuLogoImage {
    height: 40px;
    width: auto;
  }
}

/*Large screen control*/
/* The components in here are similar to the small screen GRID control sections */
@media only screen and (min-width: 640px) {
  /* Search box */
  .search-3d {
    font-size: 12px;
    background-size: 40px 40px;
  }
  /* Button for case displaying */
  .displayCaseButton {
    max-height: 150px;
    max-width: 100px;
  }
  /* Preview image of the display case */
  .displayCaseImage {
    max-height: 100px;
    max-width: 80px;
  }
  /* Flip case display card */
  .card {
    height: 150px;
    width: 100px;
  }
  /* Front face of the card */
  .card-front,
  .card-back {
    height: 150px;
    width: 100px;
  }
  * The back of the card when being pointed at by the mouse */
  .card-back {
    font-size: 18px;
  }
  /* Webpage header */
  .header {
    display: grid;
    background: black;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo nav-links";
    grid-column: 1/3;
    align-items: center;
    grid-area: header;
  }
  /* Division elements of options menu */
  .menu-division {
    width: 0px;
    height: 0px;
    visibility: hidden;
  }

  .menuLogoImage {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
/* Inkerz logo stay the same */
.logo {
  grid-area: logo;
}
/* Navigation link apperance */
.nav-links {
  grid-area: nav-links;
  justify-self: end;
}
/* Navigation link effect when being active */
.nav-links a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}
/* Navigation link effect when being hovered by pointer */
.nav-links a:hover {
  float: left;
  display: block;
  color: #1297e0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease;
}
/* Top control pannel appearance */
.top-controls {
  display: flex;
  background: rgb(166, 202, 216);
  grid-area: top-controls;
  background-color: #404040;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Load 3D Model button of the top control pannel */
.load-control {
  grid-area: load-control;
  justify-self: start;
  width: 15%;
}
/* Export 3D Model button of the top control pannel */
.export-control {
  grid-area: export-control;
  width: 40%;
}
/* Reset button of the top control pannel */
.reset-control {
  grid-area: reset-control;
  justify-self: center;
  width: 15%;
}
/* Reset button of the top control pannel */
.search-control {
  grid-area: search-control;
  justify-self: end;
  width: 30%;
}
/* 3D model display section */
.view3d {
  grid-column: 1/3;
  grid-area: view3d;
}
/* 3D Model Edit section */
.edit-controls {
  background: rgb(204, 225, 233);
  grid-area: edit-controls;
  background-color: #404040;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* this is button and card styling  section */
/* Load 3D Model of specific phone case model */
.loadButton {
  background-color: #0077C0;
  margin: 0;
  color: white;
  width: 97%;
  min-height: 50px;
  border: none;
  transition: 0.5s ease;
  vertical-align: top;
  border-bottom: 2px solid #003780;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Visual effect of hovering pointer on the top load button  */
.loadButton:hover {
  background-color: #0067B0;
  color: #eeeeee;
  border-color: #008cba;
  border-bottom: 2px solid #003780;
}
/* Visual effect of clicking on load button  */
.loadButton:active {
  background-color: #0057A0;
  color: #eeeeee;
  border-bottom: 2px solid #003780;
}
/* Export 3D Model button styling */
.exportButton {
  background-color: #9E6C4B;
  margin: 0;
  color: white;
  width: 50%;
  margin-right: 1%;
  min-height: 50px;
  border: none;
  transition: 0.5s ease;
  vertical-align: top;
  border-bottom: 2px solid #5E2C0B;
  border-radius: 5px;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Export 3D Model button hover styling */
.exportButton:hover {
  background-color: #8E5C3B;
  border-bottom: 2px solid #5E2C0B;

}
/* Export 3D Model button click styling */
.exportButton:active {
  background-color: #7E4C2B;
  border-bottom: 2px solid #5E2C0B;
}

/* Reset button styling */
.resetButton {
  background-color: #007B70;
  margin: 0;
  color: white;
  width: 97%;
  min-height: 50px;
  border: none;
  transition: 0.5s ease;
  vertical-align: top;
  border-bottom: 2px solid #005C01;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Reset button hover styling */
.resetButton:hover {
  background-color: #106B60;
  border-bottom: 2px solid #005C01;
}
/* Reset button click style */
.resetButton:active {
  background-color: #005B50;
  border-bottom: 2px solid #005C01;
}

/* Clear button styling */
.clearButton {
  margin-left: 0px;
  background-color: #D73C2C;
  float: right;
  margin: 0;
  color: eeeeee;
  width: 20%;
  min-height: 50px;
  border: none;
  color: #eeeeee;
  transition: 0.5s ease;
  vertical-align: top;
}
/* Visual effect of hovering pointer on the Clear button */
.clearButton:hover {
  background-color: #C72C1C;
  color: #eeeeee;
}
/* Visual effect of clicking pointer on the Clear button */
.clearButton:active {
  background-color: #B71C0C;
  color: #eeeeee;
}
/* 3D model search box styling */
.search-3d {
  margin-right: 0px;
  width: 100%;
  border: #000000;
  background-color: #0077C0;
  color: #ffcf4b;
  height: 50px;
  padding-left: 5px;
  transition: 0.5s ease;
  vertical-align: top;
  background-position: center right;
  border-bottom: 2px solid #003780;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Position of the magnifying glass symbol */
.search-3d::placeholder {
  color: rgb(170, 170, 170);
}
/* 3D model engrave box styling */
.engrave-3d {
  margin-right: 0px;
  width: 90%;
  border: #000000;
  background-color: #008cba;
  color: #ffcf4b;
  height: 30px;
  padding-left: 5px;
  border-radius: 10px;
  margin: 5px;
  transition: 0.5s ease;
}
/* Position of the engrave box on the page */
.engrave-3d::placeholder {
  color: rgb(41, 36, 36);
}
/* Select and style the 3D Model Search field when it gets hovered */
.search-3d:hover {
  outline: none;
  background-color: #0067B0;
}
/* Select and style the 3D Model Search field when it gets focus */
.search-3d:focus {
  outline: none;
  background-color: #0057A0;
}
/* Select and style the Engrave field when it gets focus */
.engrave-3d:focus {
  outline: none;
  background-color: rgb(10, 102, 136);
}

.button-3d {
  background-color: #008cba;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-color: #008cba;
  border-width: 2px;
  border-radius: 10px;
}
/* Select and style the 3D button when you mouse over it */
.button-3d:hover {
  background-color: white;
  color: #008cba;
}

.select-3d {
  background-color: #9E6C4B;
  margin: 0;
  color: white;
  width: 48%;
  min-height: 50px;
  border: none;
  height: 50px;
  margin-right: 1%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  padding-left: 10px;
  transition: 0.5s ease;
  vertical-align: top;
  text-align: center;
  background-size: 10px 10px;
  background-position: center right;
  border-bottom: 2px solid #5E2C0B;
  border-radius: 5px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Select and style the active of 3D button */
.select-3d:active {
  /*
  background-color: #8E5C3B;
  position: relative;
  top: 1px;
  */
}

.select-3d:hover {
  background-color: #7E4C2B;
}

/*the export menu popup*/
.exportMenu {
  align-self: center;
  background-color: #9E6C4B;
  border-radius: 10px;
  align-items: center;
  float: left;
  width: 48%;
}

/*individual menu items*/
.exportMenuItem {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: #9E6C4B;
  font-size: 12px;
}

/*hover individual menu items*/
.exportMenuItem:hover {
  color: white;
  background-color: #7E4C2B;
}

/*click individual menu items*/
.exportMenuItem:active {
  background-color: #6E3C1B;
}

/* Phone make button styling */
.button-phone-make {
  border: 1px outset rgb(0, 0, 0);
  background-color: rgb(229, 239, 243);
  margin: 1px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
}
/* Color of phone cases button styling */
.button-phone-case-colour {
  border: 1px outset rgb(0, 0, 0);
  margin: 1px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
}
/* Phone ccase display button styling */
.displayCaseButton {
  margin: 3px;
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #000000;
  font: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-repeat: no-repeat;
  background-position: top;
  outline: none;
}
/* Select and style the active of Display Case button */
.displayCaseButton :active {
  background: #1b1b1b;
  border-radius: 10px;
  transition: 0.5s ease;
}
/*Position of the main 3D model display section */
.main3D {
  align-items: center;
}
/* File Viewer box styling */
.fileViewer {
  align-items: center;
  background-color: #bdc3c7;
  background-size: 100% 100%;
  background-position: cover cover;
  background-blend-mode: darken;
  border-radius: 10px;
  border-width: 5px;
  border-color: #bdc3c7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fileViewerLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* Horizontal rotation control of 3D model */
#rotationXRange {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 300px;
  margin-left: -3px;
}
/* Vertical rotation control of 3D model */
#rotationYRange {
  width: 80%;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: #5e5e5e;
  outline: none;
  border-radius: 5px;
}
/* Zoom bar of the 3D model */
#caseSizeRange {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 300px;
  margin-left: -3px;
}
/* 3D model Range devision */
.rangeDiv {
  width: 12px;
  background-color: rgba(112, 112, 112, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Default case size of the viewer */
.caseSize {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  text-align: center;
  padding-left: 10px;
}
/* Horizontal rotation control of 3D model styling */
.rotationX {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50px;
  text-align: center;
  padding-right: 10px;
}
/* Vertical rotation control of 3D model styling */
.rotationY {
  justify-content: space-between;
  height: 80px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
/* Display name of the currnt viewing model */
.renderDescription {
  background-color: rgba(112, 112, 112, 0.9);
  height: 50px;
  border-radius: 10px;
  align-items: center;
  padding: 1px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.whiteText {
  color: #eeeeee;
}

/*
card view reference
https://note.mu/bear27_kuma/n/n4aea185253cb
*/

.cardBox {
  perspective: 500px;
  margin: 0px;
}
/* Flip case display card */
.card {
  position: relative;
  background: #f2f2f2;
  transform-style: preserve-3d;
  transition: 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backface-visibility: hidden;
  border-radius: 10px;
}
/* Front face of the card */
.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  border-style: double;
  border-width: 5px;
  border-color: black;
}
/* The back of the card when being pointed at by the mouse */
.card-back {
  backface-visibility: hidden;
}
/* Front face of the card styling */
.card-front {
  display: flex;
  font-size: 20px;
  justify-content: center;
  background: #909090;
  align-items: center;
}
/* The back of the card when being pointed at by the mouse styling */ 
.card-back {
  display: flex;
  text-shadow: 2px 2px 4px #000000;
  color: #f2f2f2;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background: rgba(207, 207, 207, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Card rotating direction when being hovered by the mouse*/
.cardBox:hover .card {
  transform: rotateY(180deg);
}
/* Card rotating direction when stop being hovered by the mouse*/
.card-back {
  transform: rotateY(180deg);
}



/*
most color choices retrived from:
http://www.flatcolorsui.com
*/

