/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* normally container is flex layout column wise */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* if continer is above 768 px, it turns into a grid */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 2fr 200px;
    grid-template-rows: 65px 30px auto;
  }
}

header {
  grid-column: span 3;
  font-size: 1.4em;
  background-color: rgb(0, 0, 0);
  color: white;
}

/* create flex to spread out logo and links (nav) divs to edges*/
.header-flex {
  display: flex;
  justify-content: space-between; /* spread evenly, edge stick */
  align-items: center;
}

.top-controls {
  grid-column: span 2;
  padding: 10px;
  height: 60px;
  width: 99.9%;
  background-color: #ffffff;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-controls-flex {
  display: flex;
  flex: 1;
  justify-content: space-between; /* spread evenly, edge stick */
  align-items: center;
  background-color: #ffffff;

}

.top-controls-flex button {
  margin: 3px;
  background-color: #ffffff;

}

main {
  grid-column: span 2;
  flex: 1;
  padding: 20px;
  color: black;
}

.abottom {
  display: flex;
  grid-column: span 2;
    padding: 10px;
    height: 60px;
    width: calc(100% - 265px);
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: left;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  
}

.nav a:hover {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

aside {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  align-items: left;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

aside > div {
  margin: 2px;
  width: 220px;
  background-color: #ffffff;
}

button {
  font-size: 12px;
}

select {
  font-size: 12px;
}

.button-3d {
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
    -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
    background-color:#2e466e;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}

.button-3d:active {
    position:relative;
    top:1px;
}

.button-3d:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
    background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
    background-color:#415989;
    color:orange;

}

.select-3d {
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
    -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
    background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
    background-color:#2e466e;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
    height: 30px;
    
}

.select-3d:active {
    position:relative;
    top:1px;
}

.select-3d:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
    background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
    background-color:#415989;
    color:orange;
    
}

.button-phone-make {
  border: 1px outset rgb(0, 0, 0);
  background-color: rgb(229, 239, 243);
  margin: 1px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
}

.button-phone-case-colour {
  border: 1px outset rgb(0, 0, 0);
  margin: 1px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  outline: none;
}

.displayCaseList {
  min-width: 150px;
  height: 180px;
  background-color: antiquewhite;
  border-radius: 25px;
  border-color: black;
  border: 2px solid black;
  text-align:center;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.displayCaseList:hover {
  background-color: rgb(65, 196, 185);
  }

.displayCaseButton {
  border-radius: 25px;
  background-color: rgba(1, 1, 1,0);
  border-color: rgba(1, 1, 1,0);
  border: 0px;
}

.displayCaseImage {
  height: 120px;
  background-color: rgba(1, 1, 1,0);
  max-width: 100px;
  max-height: 120px;
}

.card {
  display: flex;
  background-color: rgba(1, 1, 1, 0);
  min-width: 100%;
  min-height: 190px;
  overflow-x: auto; 
}

.card::-webkit-scrollbar {
  display: none;
}
